[Unit]
Description=Email my IP
After=network.target

[Service]
User=zig
Group=zig
ExecStart=/home/zig/email_my_ip.sh

[Install]
WantedBy=multi-user.target
